@import url('https://fonts.googleapis.com/css?family=Raleway|Satisfy&display=swap:100,200,300,400,500,600,700|Red+Hat+Display:100,200,300,400,500,600,700');

/*-----------------------------------------------------------------NAVBAR*/

.navbar {
	margin-bottom: 0;
	width: 100%;
	border: 0;
	position: fixed;
	z-index: 9999;
    padding: 0;
}

.nav-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding-left: 0;
	padding-right: 0;
}
.navbar-brand {
    padding-left: 4px;
}

.navbar-dark {
	background-color: rgba(255,255,255,0.75);
}

.navbar .navbar-toggler {
	border: 0;
}

.nav-item {
	font-weight: 200;
	font-family: 'Raleway', sans-serif;
	color: #353436!important;
	text-transform: uppercase;
	padding: 5px;
}

.navbar-expand-sm .navbar-nav .nav-link {
	color: rgba(0, 0, 0, .5);
	color: #333333;
}

.hvr-sweep-to-bottom:before {
	background: rgba(255, 255, 255, 0.25);
}

.navbar-expand-sm .navbar-nav .nav-link:hover {
	color: rgba(0, 0, 0, .5);
	color: #906c49;
}

#navbarNavDropdown .active a {
	color: #906c49!important;
}

.dropdown-menu {
	background-color: transparent;
	border: none;
	text-align: left;
}

.dropdown-item:hover {
	color: #be2026;
	background-color: #fafafa;
	transition: all 0.5s ease-in-out;
}


/*-----------------------------------------------------------------HOME PAGE*/

.jumbotron {
	margin: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

.section-one {
	background-image: url("../../assets/images/home.jpg");
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
 
}


/*-----------------------------------------------------------------SEARCH BAR*/

fieldset {
  padding: 0.35em 0.75em 0.625em;
}


legend {
  box-sizing: border-box;
  color: #353436;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;

}



.searchbar {
  min-height: 100vh;
      justify-content: center;
 
      align-items: center;
  font-family: 'raleway', sans-serif;
  color:#353436;
  background-size: cover;
  background-position: center center;
  padding: 15px;
  padding-top:100px;

} 

.searchbar form {
  width: 100%;
  max-width: 1190px;
}

.searchbar form legend {
  font-size: 60px;
  line-height: 1;
  font-family: 'raleway', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.searchbar form .inner-form {
  background: rgba(0, 0, 0, 0.5);
  padding: 16px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.searchbar form .inner-form .input-field {
  position: relative;
  border-right: 1px solid #ddd;
}

.searchbar form .inner-form .input-field .icon-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  z-index: 1;
}


.searchbar form .inner-form .input-field input {
  height: 70px;
  background: #fff;
  border-radius: 0;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 20px 10px 45px;
  font-size: 16px;
  color: #555;
  font-weight: 400;
  font-family: 'raleway', sans-serif;
}

.searchbar form .inner-form .input-field input.placeholder {
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}


.searchbar form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.searchbar form .inner-form .input-field.second-wrap {
 -ms-flex-positive: 1;
      flex-grow: 1;
}

.searchbar form .inner-form .input-field.third-wrap .btn-search {
  height: 70px;
  width: 100%;
  background: #b78a62;
  white-space: nowrap;
  border-radius: .5px;
  font-size: 20px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.searchbar form .inner-form .input-field.third-wrap .btn-search:hover {
  background: #af7d51;
 
}



/*--------------------------------------------Map*/

#map {
    min-height: 360px;
    margin-bottom: 100px;
    margin-top: 20px;
    width: 100%;
    background-color: transparent;
}

table {
	font-size: 12px;
}

#listing {
	position: absolute;
    width: 100%;
    min-height: 360px;
    overflow: auto;
    margin-bottom: 0;
    margin-left:auto;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}

#findhotels {
	font-size: 40px;
	font-family: 'satisfy', sans-serif;

}

#locationField {
	font-family: 'raleway', sans-serif;
	margin: 0 px;
	font-size: 12px;
}

#controls {
	height:70px;
	font-family: 'raleway', sans-serif;
    border-radius: 0;
}

#autocomplete {
	width: 100%;
}

#country {
	width: 50%;
    height: 100%;
}

.placeIcon {
	width: 20px;
	height: 34px;
	margin: 4px;
}

.hotelIcon {
	width: 24px;
	height: 24px;

}

#resultsTable {
	border-collapse: collapse;
	width: 400px;
}

#rating {
	font-size: 13px;
	font-family: Arial Unicode MS;
}

.iw_table_row {
	height: 18px;
}

.iw_attribute_name {
	font-weight: bold;
	text-align: right;
}

.iw_table_icon {
	text-align: right;
}



/*--------------------------------------------MY PLACES*/

.my-places {
    padding-top: 150px;
    margin: 0;
    background-color: #fafafa;
    min-height: 1200px;
    width: 100%;
}

.my-places h2 {
    font-family: 'raleway', sans-serif;
    color: #be2026;
    text-align: center;
}

.my-places p {
    font-family: 'satisfy', sans-serif;
    color: #353436;
    text-align: center;
    letter-spacing: 3px;
}

.map-area {
    padding: 20px;
}

.tab-content {
    overflow: auto;
    height: 600px;
}

#mapdiv {
    width: 60%;
    height: 700px;
    float: left;
    margin-left:10px;
}

.map-list {
    float: right;
}

.section-map-list {
    width: 30%;
    float: right;
    margin: 0;
    padding: 10px;
    background-color: #fafafa;
}

.tab-content {
    font-family: 'raleway', sans-serif;
}

input {
    margin: 9px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.nav-tabs a {
    font-family: 'raleway', sans-serif;
    text-transform: uppercase;
    color: #be2026;
    text-decoration: none;
    background-color: transparent;
}

.nav {
    display: block;
}
/*-----------------------------------------------------------------CONTACT PAGE*/
.form-page {
    background-color:#a79f84;
    background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
    margin-bottom:0;
    padding-bottom:0;
}

.col-12 .main-form{
    padding:30px;
}

.main-form h3 {
	color: #353436;
	font-family: 'raleway', sans-serif;
	text-transform: uppercase;
	text-align: center;
    font-weight: bolder;
    padding-top:100px;
    letter-spacing: 7px;

}
.main-form p {
	color: #353436;
	font-family: 'satisfy', sans-serif;
	text-align: center;
    font-size: 30px;
}
.main-form button[type=submit] {
	font-family: 'raleway', sans-serif;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 20px;
	color: #fafafa;
	background-color: #353436;
	font-size: 28px;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.main-form button[type=submit]:hover {
	color: #fafafa;
	background-color: #be2026;
	border: 1px solid #be2026;
	font-family: 'raleway', sans-serif;
	text-transform: uppercase;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.main-form .form-control {
	font-family: 'raleway', sans-serif;
	font-size: 16px;
	font-weight: 100;
	margin: 10px;
}

.main-form .form-text {
	font-family: 'raleway', sans-serif;
	text-transform: uppercase;
	text-align: left;
	font-size: 28px;
	color: border: 1px solid #0d517e;
}*/

.main-form {
    padding: 60px;
    padding-top:100px;
    border-radius: 5px;
    background-color: #fafafa;
}
/*-----------------------------------------------------------------FIND US*/

.find-me {

    width: 100%;
    background-color: #fafafa;
    background-attachment: scroll;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: 0;
    padding: 0;
    height: auto;
    margin-bottom: 100px;
}

.find-me h1 {
    color: #be2026;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'raleway', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.find-me h3 {
    color: #be2026;
    font-family: 'raleway', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}

.find-me p {
    color: #111111;
    font-family: 'satisfy', sans-serif;
    text-align: center;
    text-decoration: none;
}

.find-me-container {
    padding-top: 10px;
    background-color: #fafafa;
    opacity: .9;
    width: 100%;
}

.iframe-container {
    width: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
/*-----------------------------------------------------------------FOOTER*/

footer {
	background-color: rgba(255,255,255,0.5);
	position: fixed;
	text-align: center;
	width: 100%;
	color: #906c49;
	bottom: 0;
    padding:0;  
	height: auto;
}

.social-links li a i {
	font-size: 30px;
	text-align: center;
	color: #906c49;
	transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
	color: #353436;
}

.footer-details {
	padding-top: 5px;
 
}


/*-----------------------------------------------------------------MEDIA QUERIES*/

@media(min-width:320px) and (max-width:991px) {
	.navbar-brand {
		letter-spacing: 3px;
	}
}

@media(min-width: 320px) and (max-width:991px) {
	.social-links li a i {
		line-height: 30px;
		width: 30px;
		height: 30px;
		padding: 0px;
		border-radius: 50%;
		font-size: 20px;
		line-height: 30px;
	}
}

@media(min-width: 320px) and (max-width:991px) {
	.footer-details {
		padding-top: 2px;
		padding-bottom: 2px;
	}
}

@media(min-width: 320px) and (max-width:991px) {
	footer {
		line-height: 50px;
		height: 50px;
	}
}